/* common */
.wrapper {
  max-width: 1256px;
  padding: 0 60px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

/* top banner */
.top-banner {
  position: relative;
  height: 50px;
  background-color: #1496f4;
}

.top-banner-image {
  height: 50px;
  background-image: url("../assets/images/top-banner.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.top-banner-close-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 0;
  transform: translateY(-50%);
  background-color: transparent;
}

.top-banner-close-btn::before {
  position: absolute;
  left: 10px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  mask-image: url("../assets/icons/Close.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

/* header */
.header-sticky .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  gap: 14px;
}

.header-category-list {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  font-size: 18px;
}

.header-category-list a {
  font-weight: 600;
}

.header-category-list li.active a,
.header-category-list li:hover a {
  color: #35c5f0;
}

.header-search {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 280px;
  height: 40px;
  padding: 0 14px;
  border: 1px solid #dadde0;
  border-radius: 4px;
  margin-right: 4px;
}

.header-search:hover,
.header-search:hover input {
  background-color: #f7f9fa;
}

.header-search input {
  margin-top: 2px;
  border: 0;
  outline: none;
}

.header-search input::placeholder {
  color: #cbd0d4;
  font-weight: 300;
}

.header-search:has(input:focus) {
  border: 1px solid #35c5f0;
}

.header-user-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #2f3438;
}

.header-user-menu li {
  padding: 0 10px;
}

.header-user-menu li:not(:first-child) {
  border-left: 1px solid #eaedef;
}

.header-posting {
  position: relative;
  font-size: 14px;
}

.header-posting-btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 40px 0 16px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #35c5f0;
  outline: none;
}

.header-posting img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (width < 768px) {
  .top-banner {
    display: none;
  }
}
