/* font */
@font-face {
  font-family: "OhouseIcon";
  src: url("https://assets.ohou.se/design-system/d8923b386a66fd50.woff2");
  font-weight: normal;
  font-style: normal;
}

/* common */
.wrapper {
  position: relative;
  max-width: 1256px;
  padding: 0 60px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  font-family: "OhouseIcon";
  font-size: 24px;
  line-height: 1;
  vertical-align: top;
}

.mobile-only {
  display: none;
}

.modal-bg {
  z-index: 100;
  position: fixed;
  inset: 0;
  background-color: rgba(33, 38, 41, 0.5);
  cursor: pointer;
}

/* top banner */
.top-banner {
  position: relative;
  height: 50px;
  background-color: #1496f4;
}

.top-banner-image {
  height: 50px;
  background-image: url("../assets/images/top-banner.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.top-banner-close-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 0;
  transform: translateY(-50%);
  background-color: transparent;
}

.top-banner-close-btn .icon {
  color: #fff;
}

/* header */
.header-sticky {
  background-color: #fff;
  border-bottom: 1px solid #eaedef;
}

.header-sticky .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex-shrink: 0;
}

.header-right {
  gap: 14px;
  flex-grow: 1;
  justify-content: end;
  min-width: 0;
}

.header-category-list {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  font-size: 18px;
}

.header-category-list a {
  font-weight: 600;
}

.header-category-list li.active a,
.header-category-list li:hover a {
  color: #35c5f0;
}

.header-search {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
  max-width: 300px;
  height: 40px;
  padding: 0 14px;
  border: 1px solid #dadde0;
  border-radius: 4px;
  margin-right: 4px;
}

.header-search .icon {
  color: #828c94;
}

.header-search:hover,
.header-search:hover input {
  background-color: #f7f9fa;
}

.header-search input {
  width: 100%;
  margin-top: 2px;
  border: 0;
  outline: none;
}

.header-search input::placeholder {
  color: #cbd0d4;
  font-weight: 300;
}

.header-search:has(input:focus) {
  border: 1px solid #35c5f0;
}

.header-search-button {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.header-user-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #2f3438;
}

.header-user-menu li {
  padding: 0 10px;
}

.header-user-menu li:not(:first-child) {
  border-left: 1px solid #eaedef;
}

.header-posting {
  position: relative;
  font-size: 14px;
}

.header-posting-btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 40px 0 16px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #35c5f0;
  outline: none;
}

.header-posting-btn:hover {
  background-color: #009fce;
}

.header-posting .icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
}

.header-cart,
.header-user-menu,
.header-posting {
  flex-shrink: 0;
}

@media screen and (width < 1256px) {
  .desktop-full-only {
    display: none;
  }

  .header-right {
    max-width: 476px;
  }

  .header-search {
    flex-basis: 195px;
    min-width: 195px;
  }
}

@media screen and (width < 1024px) {
  .wrapper {
    padding: 0 40px;
  }

  .header-category-list {
    margin-left: 32px;
  }

  .header-search {
    display: none;
  }

  .header-search-button {
    display: block;
  }
}

@media screen and (width < 768px) {
  .wrapper {
    padding: 0 16px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .top-banner {
    display: none;
  }

  .header-sticky .wrapper {
    height: 50px;
  }

  .header-logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-mobile-menu-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .header-mobile-navbar-container {
    display: none;
  }

  .header-mobile-navbar-container.active {
    display: block;
  }

  .header-mobile-navbar-wrapper {
    z-index: 999;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 270px;
    padding: 26px 16px;
    text-align: left;
    background: rgb(255, 255, 255);
    overflow-y: auto;
  }

  .mobile-navbar-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-app-download-btn {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0px 6px;
    border: 0;
    border-radius: 4px;
    color: #35c5f0;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
  }

  .header-app-download-btn .icon {
    font-size: 14px;
    margin-left: 4px;
  }

  .mobile-navbar-signin-signup-container {
    display: flex;
    gap: 8px;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px 0px;
    border-bottom: 1px solid #eaedef;
  }

  .mobile-navbar-signin-signup-container .signin,
  .mobile-navbar-signin-signup-container .signup {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 42px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #35c5f0;
  }

  .mobile-navbar-signin-signup-container .signin {
    color: #35c5f0;
  }

  .mobile-navbar-signin-signup-container .signup {
    background-color: #35c5f0;
    color: #fff;
  }

  .header-mobile-navbar {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaedef;
  }

  .mobile-navbar-category-item {
    margin-top: 4px;
  }

  .mobile-navbar-category-item button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 40px;
    padding: 0px 40px 0px 14px;
    margin: 0px;
    border: 0;
    border-radius: 4px;
    outline: none;
    text-align: left;
    text-overflow: ellipsis;
    font-weight: 600;
    white-space: nowrap;
    background-color: #fff;
  }

  .mobile-navbar-category-item button ._chevron_thick_down_12 {
    position: absolute;
    right: 14px;
    font-size: 12px;
    transition: transform 0.3s;
  }

  .mobile-navbar-category-item button:hover {
    background-color: #f7f9fa;
  }

  .mobile-navbar-category-item button.active ._chevron_thick_down_12 {
    transform: rotate(-180deg);
  }

  .mobile-navbar-subcategory > .mobile-navbar-category-item {
    width: 100%;
    padding: 0px 14px 0px 42px;
    margin: 4px 0px 0px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 14px;
    text-overflow: ellipsis;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item a {
    display: block;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:hover {
    background-color: #f7f9fa;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:hover a {
    font-weight: 600;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item button {
    padding-left: unset;
    font-weight: 300;
  }

  .mobile-navbar-subcategory
    .mobile-navbar-subcategory
    .mobile-navbar-category-item {
    padding-left: 0;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:has(button) {
    padding: 0;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:has(button) a,
  .mobile-navbar-subcategory .mobile-navbar-category-item:has(button) button {
    padding: 0 14px 0 42px;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:has(button):hover {
    background-color: #fff;
  }

  .mobile-navbar-subcategory
    .mobile-navbar-category-item:has(button):hover
    button {
    font-weight: 600;
  }

  .mobile-navbar-subcategory .mobile-navbar-category-item:has(button):hover a {
    font-weight: 300;
  }

  .header-mobile-user-menu {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaedef;
  }

  .header-mobile-user-menu a {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 40px;
    padding: 0px 14px;
    margin-top: 4px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
  }

  .header-mobile-user-menu a:hover {
    background-color: #f7f9fa;
  }

  .mobile-navbar-footer {
    display: flex;
    gap: 8px;
    font-size: 14px;
  }

  .mobile-navbar-footer li {
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    line-height: 18px;
  }

  .mobile-navbar-footer li a {
    color: #000;
  }

  .mobile-navbar-footer li:hover {
    background-color: #f7f9fa;
  }
}
